# =========================
# macOS
# =========================
.DS_Store

# =========================
# Python
# =========================
__pycache__/
*.pyc
*.pyo
.ipynb_checkpoints/
.env
venv/

# =========================
# Tableau Backup Files
# =========================
*.twb.bak
*.twbx.bak
*.log

# =========================
# Temporary Files
# =========================
*.tmp
*.temp
